{% extends 'blog/base.html' %}

{% block content %}
    <div class="content is-large">
        <div class="title-1">
            <h1>{{ post.title }}</h1>
        </div>
        <div class="subtitle">
            {% if post.published_date %}
                <div id="date">
                    {{ post.published_date }}
                </div>
            {% endif %}
        </div>
        <div class="subtitle">
            <p id="text">{{ post.text|linebreaksbr }}</p>
        </div>
        <a class="button is-primary" href="{% url 'post_edit' pk=post.pk %}">edit</a>
    </div>
{% endblock %}