{% extends 'blog/index.html' %}

    {% block content %}
        {% for post in posts %}
            <section class="hero is-light">
                <div id="posts">
                    <div class="hero-body">
                        <h1 class="title-1">
                            <a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a>
                        </h1>
                        <p class="subtitle-4">{{ post.published_date }}</p>
                        <p class="post">{{ post.text|linebreaksbr }}</p>
                    </div>
                </div>
            </section>
        {% endfor %}
    {% endblock %}
    