{% extends 'blog/base.html' %}

{% block content %}
    <div class="content is-large">
        <div class="title-1">
            <h1>{{ post.title }}</h1>
        </div>
        <div class="subtitle">
            {% if post.published_date %}
                <div class="date">
                    {{ post.published_date }}
                </div>
            {% else %}
                <a class="button is-primary" href="{% url 'post_publish' pk=post.pk %}">Publish</a>
            {% endif %}
        </div>
        {% if user.is_authenticated %}
            <div class="container has-text-right">
                <a id="draft" class="button is-primary is-outlined" href="{% url 'post_draft_list' %}">
                    <strong>draft</strong>
                </a>
                <a class="button is-primary" href="{% url 'post_edit' pk=post.pk %}">edit</a>
                <a class="button is-primary" href="{% url 'post_remove' pk=post.pk %}">delete</a>
            </div>
        {% endif %}
    </div>
{% endblock %}