*{
margin: 0;
padding: 0;
}

.navbar{
	height: 62px;
	position: sticky;
	top: 0;
	background-color: #2f3640;	
}
.navbar .navbar-brand{
	margin-left: 20px;
}
.navbar .navbar-menu .navbar-start{
	margin-left: 10px;
}
.navbar-menu .navbar-item{
	font-family: sans-serif;
	color: white;
}

#banner-intro{
	display:table;
	width: 100%;
	height: 100vh;
	background-image: url("/static/img/banner-intro.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
#banner-intro .container{
	display: table-cell;
	vertical-align: middle;
}
#banner-intro .container .content{
	font-size: 140px;
	font-family: Raleway,sans-serif;
	transition: all 0.3s ease-in-out;
}
#banner-intro .container .content a{
	color: white;
}
#banner-intro .container .content:hover{
	font-family: Raleway,sans-serif;
	transform:scale(1.05);             
	-webkit-transform:scale(1.05);
	-moz-transform:scale(1.05);
	-o-transform:scale(1.05);
	transition: transform .35s;
	-o-transition: transform .35s;
	-moz-transition: transform .35s;
	-webkit-transition: transform .35s;
}

#article{
	padding:24px;
	padding-top: 5vh;
}
#article .title{
	padding-bottom: 50px;
}

#blog{
	height: 62px;
}
#banner-blog{
	margin:0;
	padding-left:25px;
	height: 90px;
	background-image:url("/static/img/banner-blog.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
#banner-blog #post{
	display: table-cell;
	vertical-align: middle;
}
#banner-blog .title{
	color:white;
	font-family: sans-serif;
}

#blog-list .hero .hero-body{
	padding: 17px;
	padding-left:100px;
	border-bottom: 2px solid white;
}
#blog-list .hero .hero-body .title-1 {
	padding: 10px;
	display: inline;
}
#blog-list .hero .hero-body .title-1 a{
	display: inline;
	font-family: Comic Sans MS;
	font-size: 25px;
	color: black;
}